@model IEnumerable<ProjectBookSolution_.Model.Product>
<div class="container">
    <div class="row pb-3 p-2">
        <section class="prod-sect">
            <div class="container-fluid">
                <h5 class="top-seller-head pt-3 pb-3 px-4">
                   Stephan King
                    <a asp-area="Customerr" asp-controller="Home" asp-action="ProductAll" class="float-end">
                        <button class="btn btn-dark seller-btn">
                            View All <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </button>
                    </a>
                </h5>
                <div class="container-fluid">

                    <div class="prod mt-2">
                        @foreach (var product in Model)
                        {
                            @if (product.Category.Name == "Biography")
                            {
                                <div class="items">
                                    <a asp-action="Details" asp-route-productId="@product.Id" style=text-decoration:none;>
                                        <img src="@product.ImageUrl" alt="" class="recently-image"
                                     style="">
                                    </a>
                                    <div class="container">
                                        <h6 class="recent-name">
                                            <a asp-action="Details" asp-route-productId="@product.Id" style=text-decoration:none;>
                                                <b><h5 class="text-dark prod-name">@product.Title</h5></b>
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
        <section class="prod-sect">
            <div class="container-fluid">
                <h5 class="top-seller-head pt-3 pb-3 px-4">
                    Arundhatti Roy
                    <a asp-area="Customerr" asp-controller="Home" asp-action="ProductAll" class="float-end">
                        <button class="btn btn-dark seller-btn">
                            View All <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg>
                        </button>
                    </a>
                </h5>
                <div class="container-fluid">

                    <div class="prod mt-2">
                        @foreach (var product in Model)
                        {
                            @if (product.Category.Name == "Biography")
                            {
                                <div class="items">
                                    <a asp-action="Details" asp-route-productId="@product.Id" style=text-decoration:none;>
                                        <img src="@product.ImageUrl" alt="" class="recently-image"
                                     style="">
                                    </a>
                                    <div class="container">
                                        <h6 class="recent-name">
                                            <a asp-action="Details" asp-route-productId="@product.Id" style=text-decoration:none;>
                                                <b><h5 class="text-dark prod-name">@product.Title</h5></b>
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
